<!DOCTYPE html>
<html {{ sonata_seo_html_attributes() }} lang="fr">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="{{ asset('build/images/leaf.png') }}"/>
        {% block title %}
            {{ sonata_seo_title() }}
        {% endblock %}


        {{ sonata_seo_metadatas() }}

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block footer %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('app-testimony') }}
            {{ encore_entry_script_tags('app-scroll')}}
        {% endblock %}
    </body>
</html>
