{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('contact') }}
{% endblock %}

{{ form_start(form) }}
<div class="form col-12 col-sm-6">
    <h2 class="text-center">{{ "contactez moi" | upper }}</h2>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="col-12 d-flex justify-content-between">
        <div class="mb-3 col-5">
            {{ form_label(form.lastname, "Nom") }}
            {{ form_widget(form.lastname) }}
        </div>
        <div class="mb-3 col-5">
            {{ form_label(form.firstname, "Prénom") }}
            {{ form_widget(form.firstname) }}
        </div>
    </div>
    <div class="mb-3">
        {{ form_label(form.object, "Objet") }}
        {{ form_widget(form.object) }}
    </div>
    <div class="mb-3">
        {{ form_label(form.message, "Message") }}
        {{ form_widget(form.message) }}
    </div>
</div>
{{ form_end(form) }}
